<div class="h-screen flex items-center justify-center">
  <section class="w-[25rem] gap-y-3 flex flex-col p-5 rounded-3xl shadow-2xl">
    <p class="font-semibold text-gray-800">{{ name }}</p>
    <app-input [(value)]="task" placeholder="Enter Task Name"></app-input>
    <!-- Task List -->
    <div>
      <app-task-list
        *ngFor="let todo of filterTaks"
        [name]="todo.task"
      ></app-task-list>
    </div>
    <div class="flex justify-end">
      <app-button (click)="setTask()">Add Task</app-button>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
